<head>
    <title>Final Project CPSC 24700</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="final-project.css">
</head>

<h1>Hi
    <%= name %>
</h1>

<h1>Welcome to MyStore.com</h1>
<h2>Here you can create an online store, store up all of your inventory and share the link on social media to boost up your sales!</h2>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>